#   Copyright 2020 TechDivision GmbH
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
##
---

- name: "check if valet_action variable is set"
  fail:
    msg: "valet_action variable is not set"
  when: valet_action is not defined or valet_action|length==0

- name: "check if valet_action has a valid value"
  fail:
    msg: "invalid action '{{ valet_action }}' - please use 'on' or 'off'"
  when: valet_action != "on" and valet_action != "off"

- block:
    - include_tasks: "ubuntu/partials/load-valet-sh-file.yml"
      when: valet_sh_project_vars is not defined

    - name: "check for php version in .valet-sh.yml file"
      set_fact:
        php_version: "{{ valet_sh_project_vars.services.php.version }}"
      when:
        - valet_sh_project_vars is defined
        - valet_sh_project_vars.services is defined
        - valet_sh_project_vars.services.php is defined
        - valet_sh_project_vars.services.php.version is defined
  when: php_version is not defined or php_version|length==0

- name: "check if php_version variable is set"
  fail:
    msg: "php_version variable is not set"
  when: php_version is not defined or php_version|length==0

- name: "fail when php version is not available"
  fail:
    msg: "requested PHP version {{ php_version }} is not available!"
  when: "not php_version in available_php_versions"

- include_tasks: on.yml
  when: valet_action == "on"

- include_tasks: off.yml
  when: valet_action == "off"
