#!/usr/bin/env php
<?php

array_shift($argv);
$proc = proc_open('COMPOSER_HOME="{{ current_home }}/.config/composer2" COMPOSER_CACHE_DIR="{{ current_home }}/.cache/composer2" ' . PHP_BINARY . ' {{ composer2_bin }} ' . implode(' ', $argv), [STDIN, STDOUT, STDERR], $pipes);
$status = proc_get_status($proc);
while ($status["running"]) {
  usleep(100000);
  $status = proc_get_status($proc);
}

proc_close($proc);

exit($status["exitcode"]);
