#!/usr/bin/env php
<?php

array_shift($argv);
$proc = proc_open(PHP_BINARY . ' {{ composer1_phar_bin }} ' . implode(' ', $argv), [STDIN, STDOUT, STDERR], $pipes);
$status = proc_get_status($proc);
while ($status["running"]) {
  usleep(100000);
  $status = proc_get_status($proc);
}

proc_close($proc);

exit($status["exitcode"]);
