[Unit]
Description=Opensearch 1
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=exec
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/usr/bin/podman run \
    --replace \
    --rm \
    --name {{ current_opensearch_key }} \
    --volume {{ current_opensearch_key }}-data:/usr/share/opensearch/data \
    --volume /usr/local/valet-sh/packages/opensearch1/config/opensearch.yml:/usr/share/opensearch/config/opensearch.yml:Z \
    --publish 9221:9221 \
    --env "ES_JAVA_OPTS=-Xms1g -Xmx1g" \
    docker.io/opensearchproject/opensearch:1.3.1
ExecReload=/usr/bin/podman restart {{ current_opensearch_key }}
ExecStop=/usr/bin/podman stop --time 10 {{ current_opensearch_key }}

[Install]
WantedBy=default.target
