[Unit]
Description=Opensearch {{ current_opensearch_service.version }}
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=exec
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/usr/bin/podman run \
    --replace \
    --rm \
    --name vsh-{{ current_opensearch_service.canonical }} \
    --volume vsh-{{ current_opensearch_service.canonical }}-data:/usr/share/opensearch/data \
    --volume vsh-{{ current_opensearch_service.canonical }}-plugins:/usr/share/opensearch/plugins \
    --volume {{ current_opensearch_service.configuration.base_path }}/config/opensearch.yml:/usr/share/opensearch/config/opensearch.yml:Z \
    --network host \
    --env "ES_JAVA_OPTS=-Xms1g -Xmx1g" \
    {{ current_opensearch_service.configuration.docker_image }}
ExecReload=/usr/bin/podman restart vsh-{{ current_opensearch_service.canonical }}
ExecStop=/usr/bin/podman stop --time 10 vsh-{{ current_opensearch_service.canonical }}

[Install]
WantedBy=default.target
