[Unit]
Description=mailpit Service
After=network-online.target local-fs.target
Wants=network-online.target


[Service]
Type=exec
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/usr/bin/podman run \
    --replace \
    --rm \
    --name vsh-mailpit \
    --publish {{ current_mailpit_service.configuration.ports.http }}:8025 \
    --publish {{ current_mailpit_service.configuration.ports.smtp }}:1025 \
    --volume vsh-mailpit:/data \
    {{ current_mailpit_service.configuration.docker_image }}
ExecReload=/usr/bin/podman restart vsh-{{ current_mailpit_service.canonical }}
ExecStop=/usr/bin/podman stop --time 10 vsh-{{ current_mailpit_service.canonical }}

[Install]
WantedBy=default.target
