[Unit]
Description=mailpit Service
After=network-online.target local-fs.target
Wants=network-online.target


[Service]
Type=exec
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/usr/bin/podman run \
    --replace \
    --rm \
    --name vsh-mailpit \
    --network host \
    --volume vsh-mailpit:/data \
    -e MP_UI_BIND_ADDR=127.0.0.1:8025 \
    -e MP_SMTP_BIND_ADDR=127.0.0.1:1025 \
    {{ current_service.configuration.docker_image }}
ExecReload=/usr/bin/podman restart vsh-{{ current_service.canonical }}
ExecStop=/usr/bin/podman stop --time 10 vsh-{{ current_service.canonical }}

[Install]
WantedBy=default.target
