[Unit]
Description=Mailpit Service

[Service]
Type=simple
User={{ current_user }}
ExecStart={{ mailpit_bin_target }} --listen 127.0.0.1:8025 --smtp 127.0.0.1:1025
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
