[Unit]
Description=Mailhog Service
After=network-online.target local-fs.target
Wants=network-online.target


[Service]
Type=exec
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/usr/bin/podman run \
    --replace \
    --rm \
    --name vsh-mailhog \
    --publish {{ current_mailhog_service.configuration.ports.http }}:8025 \
    --publish {{ current_mailhog_service.configuration.ports.smtp }}:1025 \
    --volume mailhog:/maildir \
    {{ current_mailhog_service.configuration.docker_image }} \
    -api-bind-addr=0.0.0.0:{{ current_mailhog_service.configuration.ports.http }} \
    -ui-bind-addr=0.0.0.0:{{ current_mailhog_service.configuration.ports.http }} \
    -smtp-bind-addr=0.0.0.0:{{ current_mailhog_service.configuration.ports.smtp }} \
    -storage=maildir \
    -maildir-path=/maildir
    ExecReload=/usr/bin/podman restart vsh-{{ current_mailhog_service.canonical }}
ExecStop=/usr/bin/podman stop --time 10 vsh-{{ current_mailhog_service.canonical }}

[Install]
WantedBy=default.target
