server {
    listen 127.0.0.1:80;

    server_name mailhog.{{ development_tld }};

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 127.0.0.1:443 {{ nginx_ssl_directive }};

    server_name mailhog.{{ development_tld }};

    ssl_certificate {{ certificate_server_domain_fullchain_file }};
    ssl_certificate_key {{ certificate_server_domain_key_file }};

    location / {
        return 301 https://mailpit.{{ development_tld }};
    }
}
