[mysqld_safe]
nice		= 0

[mysqld]
bind-address = {{ '127.0.0.1' if current_os == 'ubuntu' else '0.0.0.0' }}
port = {{ current_service.configuration.ports.tcp }}

{% if current_service.version | float >= 8.0 %}
mysqlx-bind-address = {{ '127.0.0.1' if current_os == 'ubuntu' else '0.0.0.0' }}
mysqlx-port = {{ current_service.configuration.ports.tcp }}0
{% endif %}

skip-external-locking

{% if current_service.version | float >= 8.4 %}
mysql_native_password=ON
restrict_fk_on_non_standard_key=OFF
{% endif %}

key_buffer_size		= 16M
max_allowed_packet	= 256M
thread_stack		= 192K
thread_cache_size       = 8
myisam-recover-options  = BACKUP
max_connections        = 200
max_binlog_size   = 100M

character-set-server='utf8mb4'
collation-server='utf8mb4_unicode_ci'
innodb_file_per_table='1'
innodb_flush_log_at_trx_commit='2'
sql-mode=''
default-time-zone = '+00:00'
join_buffer_size = 32M
tmp_table_size = 64M
max_heap_table_size = 64M
join_buffer_size=2M
