[Unit]
Description=valkey
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=exec
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/usr/bin/podman run \
    --replace \
    --rm \
    --name vsh-{{ current_valkey_service.canonical }} \
    --volume {{ current_valkey_service.canonical }}:/data \
    --publish {{ current_valkey_service.configuration.ports.valkey }}:6379 \
    {{ current_valkey_service.configuration.docker_image }}
ExecReload=/usr/bin/podman restart vsh-{{ current_valkey_service.canonical }}
ExecStop=/usr/bin/podman stop --time 10 vsh-{{ current_valkey_service.canonical }}

[Install]
WantedBy=default.target
