network.host: {{ '127.0.0.1' if current_os == 'ubuntu' else '0.0.0.0' }}
transport.host: {{ '127.0.0.1' if current_os == 'ubuntu' else '0.0.0.0' }}

http.port: 9223
transport.port: 9323

discovery.type: "single-node"
cluster.name: opensearch3
plugins.security.disabled: true
