network.host: {{ '127.0.0.1' if current_os == 'ubuntu' else '0.0.0.0' }}
transport.host: {{ '127.0.0.1' if current_os == 'ubuntu' else '0.0.0.0' }}

http.port: 9222
transport.port: 9322

discovery.type: "single-node"
cluster.name: opensearch2
plugins.security.disabled: true
plugins.performance_analyzer.enabled: false
