network.host: 127.0.0.1
http.port: 9211
transport.host: 127.0.0.1
path.logs: "{{ opensearch_base_path }}1/logs"
path.data: "{{ opensearch_base_path }}1/data"
discovery.type: "single-node"
cluster.name: opensearch1