<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>{{ package_startup_script }}</string>
    <key>ProgramArguments</key>
    <array>
      <string>{{ package_sbin_path }}/php-fpm</string>
      <string>--nodaemonize</string>
      <string>--fpm-config</string>
      <string>{{ package_etc_path }}/fpm.conf</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>{{ package_base_path }}</string>
    <key>StandardErrorPath</key>
    <string>{{ package_log_path }}/php-fpm.log</string>
  </dict>
</plist>