#!/bin/bash

AVAILABLE_MYSQL_VERSIONS='5.7 8.0'
AVAILABLE_MARIADB_VERSIONS='10.4'

function get_target_version {
    VALET_SH_FILE=$1

    SELECTED_MYSQL_VERSION=$(/usr/local/valet-sh/venv/bin/shyaml get-value services.mysql.version < "${VALET_SH_FILE}" 2>/dev/null)
   	# shellcheck disable=SC2181
    if [ $? -eq 0 ]
    then
      if [[ " $AVAILABLE_MYSQL_VERSIONS " =~ .*\ $SELECTED_MYSQL_VERSION\ .* ]]; then
         TARGET_EDITION=mysqldump
         TARGET_VERSION=$SELECTED_MYSQL_VERSION
         return 0
      fi
    fi
    SELECTED_MARIADB_VERSION=$(/usr/local/valet-sh/venv/bin/shyaml get-value services.mariadb.version < "${VALET_SH_FILE}" 2>/dev/null)
   	# shellcheck disable=SC2181
    if [ $? -eq 0 ]
    then
      if [[ " $AVAILABLE_MARIADB_VERSIONS " =~ .*\ $SELECTED_MARIADB_VERSION\ .* ]]; then
         TARGET_EDITION=mariadump
         TARGET_VERSION=$SELECTED_MARIADB_VERSION
         return 0
      fi
    fi
    return 1
}

if test -f ".valet-sh.yml"; then
  CURRENT_VALET_SH_FILE=".valet-sh.yml"
elif test -f "../.valet-sh.yml"; then
  CURRENT_VALET_SH_FILE="../.valet-sh.yml"
fi

if [[ $CURRENT_VALET_SH_FILE ]]
then
  get_target_version $CURRENT_VALET_SH_FILE
  # shellcheck disable=SC2181
  if [ $? -eq 0 ]
  then
    exec /usr/local/bin/"${TARGET_EDITION}${TARGET_VERSION}" "$@"
  else
    exec /usr/local/bin/default-mysql "$@"
  fi
else
  exec /usr/local/bin/default-mysql "$@"
fi