management.listener.port = 15672
management.listener.ip = 127.0.0.1

listeners.tcp.local    = 127.0.0.1:5672
listeners.tcp.local_v6 = ::1:5672

stomp.listeners.tcp.1 = 127.0.0.1:61613
stomp.listeners.tcp.2 = ::1:61613

mqtt.listeners.tcp.1 = 127.0.0.1:1883
mqtt.listeners.tcp.2 = ::1:1883
