[client]
user = root
password=root

[mysqldump]
user = root
password=root
quick = 1
quote-names = 1
max_allowed_packet	= 16M
default-character-set = utf8mb4

[mysql]
user = root
password=root
default-character-set = utf8mb4
