[Unit]
Description=Rabbitmq-Server
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=exec
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/usr/bin/podman run \
    --replace \
    --rm \
    --name vsh-{{ current_rabbitmq_service.canonical }} \
    --volume vsh-{{ current_rabbitmq_service.canonical }}:/var/lib/rabbitmq \
    --publish 127.0.0.1:{{ current_rabbitmq_service.configuration.ports.amqp }}:5672 \
    --publish 127.0.0.1:{{ current_rabbitmq_service.configuration.ports.http }}:15672 \
    {{ current_rabbitmq_service.configuration.docker_image }}
ExecReload=/usr/bin/podman restart vsh-{{ current_rabbitmq_service.canonical }}
ExecStop=/usr/bin/podman stop --time 10 vsh-{{ current_rabbitmq_service.canonical }}

[Install]
WantedBy=default.target
