#   Copyright 2023 TechDivision GmbH
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
##
---

- include_vars: "vars.yml"

- include_tasks: "check-opts.yml"

- include_tasks: "check-vars.yml"

- block:

    - include_tasks: "register-hub.yml"

    - name: "workflows » aem | fail when no packages are defined"
      assert:
        msg: "no packages defined for restore"
        that:
          - valet_sh_project_vars is defined
          - valet_sh_project_vars.instance is defined
          - valet_sh_project_vars.instance.sync is defined
          - valet_sh_project_vars.instance.sync.packages is defined
          - valet_sh_project_vars.instance.sync.packages | length > 1

    - name: "workflows » aem | create runtime tmp dir"
      file:
        path: "{{ valet_sh_aem_runtime_tmp_dir }}"
        state: directory

    - include_tasks: sub-download-package.yml
      with_items: "{{ valet_sh_project_vars.instance.sync.packages }}"
      loop_control:
        loop_var: valet_sh_aem_restore_current_packagename

    - include_tasks: sub-upload-package.yml
      with_items: "{{ valet_sh_project_vars.instance.sync.packages }}"
      loop_control:
        loop_var: valet_sh_aem_restore_current_packagename

    - include_tasks: sub-install-package.yml
      with_items: "{{ valet_sh_project_vars.instance.sync.packages }}"
      loop_control:
        loop_var: valet_sh_aem_restore_current_packagename

    - name: "workflows » aem | clear runtime tmp dir"
      file:
        path: "{{ valet_sh_aem_runtime_tmp_dir }}"
        state: absent
  when:
    - valet_instancebackup_identifier is defined
    - valet_instancebackup_identifier|length > 0