index.number_of_shards: 1
index.number_of_replicas: 0
network.host: 127.0.0.1
index.store.throttle.type: none
node.local: true
http.port: 9202
cluster.name: elasticsearch2

# needed for elasticsearch together with magento2 smile integration
script.inline: on
script.indexed: on
