index.number_of_shards: 1
index.number_of_replicas: 0
network.host: 127.0.0.1
index.store.throttle.type: none
node.local: true
http.port: 9201

script.inline: on
script.indexed: on

cluster.name: elasticsearch1
