network.host: 127.0.0.1
http.port: 9206
transport.host: 127.0.0.1
transport.port: 9306
path.logs: "{{ elasticsearch_base_path }}6/logs"
path.data: "{{ elasticsearch_base_path }}6/data"
cluster.name: elasticsearch6

