network.host: 127.0.0.1
http.port: 9207
transport.host: 127.0.0.1
transport.port: 9307
path.logs: "{{ elasticsearch_base_path }}7/logs"
path.data: "{{ elasticsearch_base_path }}7/data"
discovery.type: "single-node"
cluster.name: elasticsearch7