hub:
  host: "dummy.example.com"
  port: 22
  path: "/data"

services:
  composer:
    version: 2
  node:
    version: 14
  php:
    version: 7.4
  mysql:
    version: 8.0
    database: "projectx"
  elasticsearch:
    version: 7
    plugins:
      - "analysis-phonetic"
      - "analysis-icu"
  rabbitmq:
    vhost: project-x

instance:
  key: "projectX"
  type: "magento2"
  path: "src"
  multidomain:
    de: "default"
    en: "en"
  sync:
    identifier: test
    db: true
    fs:
      - "pub/media"
    post_restore_actions:
      indexer:
        reindexAll: true
  crypt_key: "abcdefghijklmnopqrstuvxyz1234567890crypt"
  config: {}
