[global]
pid = {{ package_run_path }}/{{ current_package_name }}{{ current_package_version }}-fpm.pid
error_log = {{ package_log_path }}/{{ current_package_name }}{{ current_package_version }}-fpm.log

[www]
user = {{ package_user }}
group = {{ package_group }}

listen = {{ php56_fpm_socket_path }}

listen.owner = {{ package_user }}
listen.group = {{ package_group }}

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
