[Unit]
Description=Elasticsearch 6
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=exec
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/usr/bin/podman run \
    --replace \
    --rm \
    --name vsh-{{ current_elasticsearch_service.canonical }} \
    --volume vsh-{{ current_elasticsearch_service.canonical }}-data:/usr/share/elasticsearch/data \
    --volume {{ current_elasticsearch_service.configuration.base_path }}/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:Z \
    --publish {{ current_elasticsearch_service.configuration.ports.http }}:{{ current_elasticsearch_service.configuration.ports.http }} \
    --publish {{ current_elasticsearch_service.configuration.ports.transport }}:{{ current_elasticsearch_service.configuration.ports.transport }} \
    --env "discovery.type=single-node" \
    --env "ES_JAVA_OPTS=-Xms1g -Xmx1g" \
    --env "xpack.security.enabled=false" \
    {{ current_elasticsearch_service.configuration.docker_image }}
ExecReload=/usr/bin/podman restart vsh-{{ current_elasticsearch_service.canonical }}
ExecStop=/usr/bin/podman stop --time 10 vsh-{{ current_elasticsearch_service.canonical }}

[Install]
WantedBy=default.target
