[Unit]
Description=Elasticsearch 8
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
PermissionsStartOnly=true
Environment=ES_HOME={{ current_elasticsearch_base_path }}
Environment=PID_DIR="{{ elasticsearch_pid_path }}"
WorkingDirectory={{ current_elasticsearch_base_path }}
User={{ current_user }}
Group={{ current_group }}
ExecStartPre=/usr/bin/install -o {{ current_user }} -g {{ current_group }} -d {{ elasticsearch_pid_path }}
ExecStart={{ current_elasticsearch_base_path }}/bin/elasticsearch -p ${PID_DIR}/valet-sh_{{ current_elasticsearch_key }}.pid
StandardOutput=null
StandardError=journal
SuccessExitStatus=143
LimitNOFILE=100000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target