[Unit]
Description=Elasticsearch 8
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=exec
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/usr/bin/podman run \
    --replace \
    --rm \
    --name {{ current_elasticsearch_key }} \
    --volume {{ current_elasticsearch_key }}-data:/usr/share/elasticsearch/data \
    --volume /usr/local/valet-sh/packages/elasticsearch8/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:Z \
    --publish 9208:9208 \
    --publish 9308:9308 \
    --env "discovery.type=single-node" \
    --env "ES_JAVA_OPTS=-Xms1g -Xmx1g" \
    --env "xpack.security.enabled=false" \
    docker.io/elasticsearch:8.5.3
ExecReload=/usr/bin/podman restart {{ current_elasticsearch_key }}
ExecStop=/usr/bin/podman stop --time 10 {{ current_elasticsearch_key }}

[Install]
WantedBy=default.target
