[Unit]
Description=Elasticsearch {{ current_service.version }}
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=exec
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/usr/bin/podman run \
    --replace \
    --rm \
    --name vsh-{{ current_service.canonical }} \
    --volume vsh-{{ current_service.canonical }}-data:/usr/share/elasticsearch/data \
    --volume vsh-{{ current_service.canonical }}-plugins:/usr/share/elasticsearch/plugins \
    --volume {{ current_service.configuration.base_path }}/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:Z \
{% if elasticsearch_extra_volumes is defined and elasticsearch_extra_volumes | length > 0 %}
{% for volume in elasticsearch_extra_volumes %}
    --volume {{ volume }} \
{% endfor %}
{% endif %}
    --network host \
    --env "discovery.type=single-node" \
    --env "ES_JAVA_OPTS=-Xms{{ current_service.configuration.limits.memory }} -Xmx{{ current_service.configuration.limits.memory }}" \
    --env "xpack.security.enabled=false" \
    {{ current_service.configuration.docker_image }}
ExecReload=/usr/bin/podman restart vsh-{{ current_service.canonical }}
ExecStop=/usr/bin/podman stop --time 10 vsh-{{ current_service.canonical }}

[Install]
WantedBy=default.target
