[client]
user = root
password=root
protocol=tcp
port=3306
host=127.0.0.1
default-character-set = utf8mb4

[mysqldump]
user = root
password=root
protocol=tcp
port=3306
host=127.0.0.1
quick = 1
quote-names = 1
max_allowed_packet	= 16M
default-character-set = utf8mb4

[mysql]
user = root
password=root
protocol=tcp
port=3306
host=127.0.0.1
default-character-set = utf8mb4
