<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.apple.container.autostart</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/container</string>
        <string>system</string>
        <string>start</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/container-autostart.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/container-autostart.err</string>
</dict>
</plist>