<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>Label</key>
    <string>sh.valet.container.autostart</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/valet-sh/bin/container-autostart.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>

    <key>ThrottleInterval</key>
    <integer>5</integer>

    <key>ExitTimeout</key>
    <integer>30</integer>

    <key>StandardOutPath</key>
    <string>/tmp/vsh-container-autostart.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/vsh-container-autostart.stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

</dict>
</plist>