[Unit]
Description=MySQL 8.0 Community Server
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=exec
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/usr/bin/podman run \
    --replace \
    --rm \
    --name {{ current_mysql_key }} \
    --volume {{ current_mysql_key }}-data:/var/lib/mysql \
    --volume {{ current_mysql_etc_path }}/my.cnf:/etc/mysql/my.cnf:z \
    --volume {{ current_mysql_etc_conf_path }}:/etc/mysql/conf.d:z \
    --publish {{ mysql_community_server_80.port }}:3306 \
    --env MYSQL_ROOT_PASSWORD={{ mysql_community_server.default_root_password }} \
    {{ mysql_community_server_80.image }}
ExecReload=/usr/bin/podman restart {{ current_mysql_key }}
ExecStop=/usr/bin/podman stop --time 10 {{ current_mysql_key }}

[Install]
WantedBy=default.target
