<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>Label</key>
    <string>sh.valet.vsh-{{ current_service.canonical }}</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/container</string>
        <string>run</string>
        <string>--cpus</string>
        <string>{{ current_service.configuration.limits.cpus | default (2) }}</string>
        <string>--memory</string>
        <string>{{ current_service.configuration.limits.memory | default ("2g") }}</string>
        <string>--rm</string>
        <string>--user</string>
        <string>1000:1000</string>
        <string>--name</string>
        <string>vsh-{{ current_service.canonical }}</string>
        <string>--volume</string>
        <string>vsh-{{ current_service.canonical }}-data:/var/lib/rabbitmq</string>
        <string>--volume</string>
        <string>{{ current_service.configuration.base_path }}/config/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:Z</string>
        <string>{{ current_service.configuration.docker_image }}</string>
    </array>

    <key>RunAtLoad</key>
    <false/>

    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>5</integer>

    <key>ExitTimeout</key>
    <integer>30</integer>

    <key>StandardOutPath</key>
    <string>/tmp/vsh-{{ current_service.canonical }}.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/vsh-{{ current_service.canonical }}.stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

</dict>
</plist>