server {
    listen 127.0.0.1:80;

    server_name {{ link_name }}.{{ development_tld }} *.{{ link_name }}.{{ development_tld }};

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 127.0.0.1:443 ssl;

    server_name {{ link_name }}.{{ development_tld }} *.{{ link_name }}.{{ development_tld }};
    root {{ valet_current_path }};
    set $upstream "{{ current_php_version }}";

    ssl_certificate {{ certificate_server_domain_fullchain_file }};
    ssl_certificate_key {{ certificate_server_domain_key_file }};

    access_log {{ valet_sh_prefix }}/var/log/nginx/{{ link_name }}.{{ development_tld }}-access.log;
    error_log {{ valet_sh_prefix }}/var/log/nginx/{{ link_name }}.{{ development_tld }}-error.log;

    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass   $upstream;
        fastcgi_buffers 1024 4k;
        fastcgi_read_timeout 600s;
        fastcgi_connect_timeout 600s;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }
}
