[mysqld_safe]
socket		= /var/run/mysqld/mariadb104.sock
nice		= 0

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/{{ current_mariadb_key }}.pid
socket		= /var/run/mysqld/mariadb104.sock
#socket =
port		= {{ mariadb_server_104.port }}
basedir		= {{ current_mariadb_dist_path }}
datadir		= {{ current_mariadb_data_path }}
tmpdir		= /tmp
lc-messages-dir	= {{ current_mariadb_dist_path }}/share
skip-external-locking

bind-address		= 127.0.0.1
key_buffer_size		= 16M
max_allowed_packet	= 256M
thread_stack		= 192K
thread_cache_size       = 8
myisam-recover-options  = BACKUP
max_connections        = 200
log_error = /var/log/mysql/{{ current_mariadb_key }}-error.log
max_binlog_size   = 100M

character-set-server='utf8mb4'
collation-server='utf8mb4_unicode_ci'
innodb_file_per_table='1'
innodb_flush_log_at_trx_commit='2'
innodb_buffer_pool_size=256M
sql-mode=''
default-time-zone = '+00:00'
join_buffer_size = 32M
tmp_table_size = 64M
max_heap_table_size = 64M
join_buffer_size=2M
optimizer_use_condition_selectivity = 1
optimizer_switch = index_merge=on,index_merge_union=on,index_merge_sort_union=on,index_merge_intersection=on,index_merge_sort_intersection=off,engine_condition_pushdown=off,index_condition_pushdown=on,derived_merge=on,derived_with_keys=on,firstmatch=on,loosescan=on,materialization=on,in_to_exists=on,semijoin=on,partial_match_rowid_merge=on,partial_match_table_scan=on,subquery_cache=on,mrr=off,mrr_cost_based=off,mrr_sort_keys=off,outer_join_with_cache=on,semijoin_with_cache=on,join_cache_incremental=on,join_cache_hashed=on,join_cache_bka=on,optimize_join_buffer_size=on,table_elimination=on,extended_keys=on,exists_to_in=on,orderby_uses_equalities=on,condition_pushdown_for_derived=on,split_materialized=on,condition_pushdown_for_subquery=on,rowid_filter=off,condition_pushdown_from_having=on