<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>{{ package_startup_script }}</string>
    <key>ProgramArguments</key>
    <array>
      <string>{{ package_sbin_path }}/dnsmasq</string>
      <string>--keep-in-foreground</string>
      <string>-C</string>
      <string>{{ package_etc_path }}/dnsmasq.conf</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>