{{ ansible_managed | comment }}

upstream mariadb104 {
    server 127.0.0.1:3317;
}

upstream mariadb106 {
    server 127.0.0.1:3319;
}

upstream mysql57 {
    server 127.0.0.1:3307;
}

upstream mysql80 {
    server 127.0.0.1:3308;
}

server {
    listen 127.0.0.1:3306;
    proxy_pass {{ valet_service_name }};
}