#!/bin/bash

{% if current_service.version | float == 11.4 %}
exec podman exec -it vsh-{{ current_service.canonical }} mysqldump --defaults-file=/root/.my.cnf "$@"
{% else %}
exec podman exec -it vsh-{{ current_service.canonical }} mariadb-dump --defaults-file=/root/.my.cnf "$@"
{% endif %}
