#!/bin/bash

{% if current_mariadb_key|float == 11.4 %}
exec /usr/local/valet-sh/packages/{{ current_mariadb_key }}/dist/bin/mysqldump --defaults-file=/usr/local/valet-sh/packages/{{ current_mariadb_key }}/etc/my.cnf "$@"
{% else %}
exec /usr/local/valet-sh/packages/{{ current_mariadb_key }}/dist/bin/mariadb-dump --defaults-file=/usr/local/valet-sh/packages/{{ current_mariadb_key }}/etc/my.cnf "$@"
{% endif %}