#!/bin/bash

{% if current_mariadb_key|float == 11.4 %}
exec podman exec -it {{ current_mariadb_key }} mariadb-admin --defaults-file=/etc/mysql/my.cnf "$@"
{% else %}
exec podman exec -it {{ current_mariadb_key }} mysqladmin --defaults-file=/etc/mysql/my.cnf "$@"
{% endif %}
