##
#   Copyright 2020 TechDivision GmbH
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
##
---

- name: "ensure adoptopenjdk8 is absent"
  homebrew_cask:
    name: "homebrew/cask-versions/adoptopenjdk8"
    state: absent

- name: "ensure temurin8 is installed"
  homebrew_cask:
    name: "homebrew/cask-versions/temurin8"
    state: present

#- name: "ensure vsh-elasticsearch1 is installed"
#  homebrew:
#    name: vsh-elasticsearch1
#    state: present

- name: "ensure vsh-elasticsearch1 is installed"
  shell: "{{ valet_sh_homebrew_bin }} install vsh-elasticsearch1"


- name: "ensure elasticsearch1 plugins are installed"
  shell: "/usr/local/opt/vsh-elasticsearch1/libexec/bin/plugin --install {{ current_elasticsearch_plugin.name }} --url {{ current_elasticsearch_plugin.url }}"
  failed_when: false
  with_items: "{{ elasticsearch_legacy_plugins }}"
  loop_control:
    loop_var: current_elasticsearch_plugin

#- name: "ensure elasticsearch 1 plugins are installed"
#  elasticsearch_plugin:
#    name: "{{ current_elasticsearch_plugin.name }}"
#    url: "{{ current_elasticsearch_plugin.url }}"
#    state: present
#    plugin_bin: "/usr/local/opt/vsh-elasticsearch1/libexec/bin/plugin"
#    plugin_dir: "/usr/local/opt/vsh-elasticsearch1/libexec/plugins"
#  with_items: "{{ elasticsearch_legacy_plugins }}"
#  loop_control:
#    loop_var: current_elasticsearch_plugin

#- name: "ensure vsh-elasticsearch2 is installed"
#  homebrew:
#    name: vsh-elasticsearch2
#    state: present

- name: "ensure vsh-elasticsearch2 is installed"
  shell: "{{ valet_sh_homebrew_bin }} install vsh-elasticsearch2"

- name: "ensure elasticsearch 2 plugins are installed"
  elasticsearch_plugin:
    name: "{{ current_elasticsearch_plugin }}"
    state: present
    plugin_bin: "/usr/local/opt/vsh-elasticsearch2/libexec/bin/plugin"
    plugin_dir: "/usr/local/opt/vsh-elasticsearch2/libexec/plugins"
  with_items: "{{ elasticsearch_plugins }}"
  loop_control:
    loop_var: current_elasticsearch_plugin

#- name: "ensure vsh-elasticsearch5 is installed"
#  homebrew:
#    name: vsh-elasticsearch5
#    state: present

- name: "ensure vsh-elasticsearch5 is installed"
  shell: "{{ valet_sh_homebrew_bin }} install vsh-elasticsearch5"

- name: "ensure elasticsearch 5 plugins are installed"
  elasticsearch_plugin:
    name: "{{ current_elasticsearch_plugin }}"
    state: present
    plugin_bin: "/usr/local/opt/vsh-elasticsearch5/libexec/bin/elasticsearch-plugin"
    plugin_dir: "/usr/local/opt/vsh-elasticsearch5/libexec/plugins"
  with_items: "{{ elasticsearch_plugins }}"
  loop_control:
    loop_var: current_elasticsearch_plugin

#- name: "ensure vsh-elasticsearch6 is installed"
#  homebrew:
#    name: vsh-elasticsearch6
#    state: present

- name: "ensure vsh-elasticsearch6 is installed"
  shell: "{{ valet_sh_homebrew_bin }} install vsh-elasticsearch6"

- name: "ensure elasticsearch 6 plugins are installed"
  elasticsearch_plugin:
    name: "{{ current_elasticsearch_plugin }}"
    state: present
    plugin_bin: "/usr/local/opt/vsh-elasticsearch6/libexec/bin/elasticsearch-plugin"
    plugin_dir: "/usr/local/opt/vsh-elasticsearch6/libexec/plugins"
  with_items: "{{ elasticsearch_plugins }}"
  loop_control:
    loop_var: current_elasticsearch_plugin

#- name: "ensure vsh-elasticsearch7 is installed"
#  homebrew:
#    name: vsh-elasticsearch7
#    state: present

- name: "ensure vsh-elasticsearch7 is installed"
  shell: "{{ valet_sh_homebrew_bin }} install vsh-elasticsearch7"

- name: "ensure elasticsearch 7 plugins are installed"
  elasticsearch_plugin:
    name: "{{ current_elasticsearch_plugin }}"
    state: present
    plugin_bin: "/usr/local/opt/vsh-elasticsearch7/libexec/bin/elasticsearch-plugin"
    plugin_dir: "/usr/local/opt/vsh-elasticsearch7/libexec/plugins"
  with_items: "{{ elasticsearch_plugins }}"
  loop_control:
    loop_var: current_elasticsearch_plugin