session.auto_start = off
session.gc_probability = 0
suhosin.session.cryptua = off
zend.enable_gc = off

{% for php_fpm_setting in php71_default_ini_settings %}
{{ php_fpm_setting.conf }}={{ php_fpm_setting.value }}
{% endfor %}

{% for php_fpm_setting_additional in php71_custom_ini_settings %}
{{ php_fpm_setting_additional.conf }}={{ php_fpm_setting_additional.value }}
{% endfor %}
