{{ ansible_managed | comment }}

server {
    listen 127.0.0.1:{{ current_service.configuration.ports.tcp }};

    set $target "vsh-{{ current_service.canonical }}.vsh:{{ current_service.configuration.ports.tcp }}";

    proxy_pass $target;
}
