<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>EnvironmentVariables</key>
        <dict>
           <key>JAVA_HOME</key>
           <string>{{ java_home }}</string>
        </dict>
        <key>Label</key>
        <string>sh.valet.elasticsearch-{{ install_elasticsearch_version }}</string>
        <key>UserName</key>
        <string>{{ current_user }}</string>
        <key>GroupName</key>
        <string>{{ current_group }}</string>
        <key>Program</key>
        <string>{{ install_base_path }}/elasticsearch-{{ install_elasticsearch_version }}/bin/elasticsearch</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>WorkingDirectory</key>
        <string>{{ install_base_path }}/elasticsearch-{{ install_elasticsearch_version }}</string>
    </dict>
</plist>