<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>             <string>{{ package.config.startup_script | basename }}</string>
    <key>ProcessType</key>       <string>Interactive</string>
    <key>Disabled</key>          <false/>
    <key>RunAtLoad</key>         <true/>
    <key>KeepAlive</key>         <true/>
    <key>SessionCreate</key>     <true/>
    <key>LaunchOnlyOnce</key>    <false/>
    <key>UserName</key>          <string>{{ package_user }}</string>
    <key>GroupName</key>         <string>{{ package_group }}</string>
    <key>ExitTimeOut</key>       <integer>600</integer>
    <key>Program</key>           <string>{{ redis_32_current_server_bin }}</string>
    <key>ProgramArguments</key>
        <array>
            <string>{{ redis_32_current_server_bin }}</string>
            <string>{{ package_etc_path }}/redis.conf</string>
        </array>
    <key>WorkingDirectory</key>  <string>{{ package_base_path }}</string>
</dict>
</plist>