[mysqld_safe]
nice		= 0

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking

bind-address		= 0.0.0.0
key_buffer_size		= 16M
max_allowed_packet	= 256M
thread_stack		= 192K
thread_cache_size       = 8
myisam-recover-options  = BACKUP
max_connections        = 200
log_error = /var/lib/mysql/{{ current_mysql_key }}-error.log
max_binlog_size   = 100M

character-set-server='utf8mb4'
collation-server='utf8mb4_unicode_ci'
innodb_file_per_table='1'
innodb_flush_log_at_trx_commit='2'
sql-mode=''
default-time-zone = '+00:00'
join_buffer_size = 32M
tmp_table_size = 64M
max_heap_table_size = 64M
join_buffer_size=2M
