---
- name: Create
  hosts: localhost
  connection: local
  gather_facts: false
  no_log: false
  tasks:
    - name: Create molecule instance(s)
      lxd_container:
        name: "{{ item.name }}"
        state: started
        source:
          type: image
          mode: pull
          server: https://images.linuxcontainers.org
          protocol: simplestreams
          alias: "{{ item.alias }}/amd64"
        profiles: ["default"]
        wait_for_ipv4_addresses: true
        timeout: 600
      with_items: "{{ molecule_yml.platforms }}"

    - name: Install Python in container
      delegate_to: "{{ item.name }}"
      raw: apt-get install -y python
      with_items: "{{ molecule_yml.platforms }}"
